* {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px auto 0 auto;
  width: 90%;
  background-color: #616161;
  color: aliceblue;
  font-family: sans-serif;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

a {
  text-decoration: underline;
  color: aliceblue;
}

h1 {
  text-align: center;
}

.bunnyContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jumbotron {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hop {
    animation: hop 1.5s ease 0s infinite normal;
}

@keyframes hop {
  0%{
    transform: translateY(0);
  }
  20%{

    transform: translateY(0);
  }
  40%{

    transform: translateY(-30px);
  }
  50%{

    transform: translateY(0);
  }
  60%{

    transform: translateY(0);
  }
  80%{

    transform: translateY(-30px);
  }
  100%{

    transform: translateY(0);
}
}